<table class="main-table" id="aikidoTable">
    <thead>
        <tr>
            <th>Attack</th>
            <th class="technique-col">Kokyu ho</th>
            <th class="technique-col">Ikkyo</th>
            <th class="technique-col">Nikyo</th>
            <th class="technique-col">Sankyo</th>
            <th class="technique-col">Yonkyo</th>
            <th class="technique-col">Gokyo</th>
            <th class="technique-col">Kote Gaeshi</th>
            <th class="technique-col">Shiho Nage</th>
            <th class="technique-col">Irimi Nage</th>
            <th class="technique-col">Sokumen Irimi</th>
            <th class="technique-col">Tenchi Nage</th>
            <th class="technique-col">Kokyu Nage</th>
            <th class="technique-col">Soto Kaiten</th>
            <th class="technique-col">Uchi Kaiten</th>
            <th class="technique-col">Koshi Nage</th>
            <th class="technique-col">Sumi Otoshi</th>
            <th class="technique-col">Aiki Otoshi</th>
            <th class="technique-col">Juji Garami</th>
            <th class="technique-col">Hiji Kime</th>
        </tr>
    </thead>
    <tbody>
        <tr class="loading">
            <td colspan="20">Loading techniques...</td>
        </tr>
    </tbody>
</table>
